body{
	background-color: grey;
	margin: 0 auto;
}

h1{
	color: white;
	font-size: 100px;
	margin-top: 100px;
	margin-left:250px;
	margin-right:;
}

p{
	margin-top: 50px
}

article{
	padding-bottom: 25px;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	background-color: white;
	text-align: center;
}

ul {
	background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
	background-color: red;
    float: left;
}

li a {
	background-color: red;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}